.example-card {
    max-width: 400px;
    margin: 5px;
  }

.example-header-image {
background-image: url('../../assets/img/gaiafrontlogo.png');
background-size: cover;
}

.center {
    margin: auto;
    text-align: center;
}

.center button {
  margin-bottom: 5px;
}