<div class="container">
  <div class="row">
    <div class="col-6">
      <mat-card class="example-card background">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Card with white background</mat-card-title>
          <mat-card-subtitle>Sample1</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/mapfre-logo-sec.png" alt="Mapfre logo">
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu lacus non enim gravida commodo sit amet at magna. Cras vitae sem dignissim, auctor nisl dignissim, condimentum urna. Fusce vehicula nulla ut magna viverra, ut tempor nisl gravida. Suspendisse vitae accumsan ex. Sed ultrices ante vel odio pellentesque, non tristique magna tempus. Praesent fringilla magna a pretium accumsan. 
          </p>
        </mat-card-content>
        <mat-card-actions class="center">
          <button mat-raised-button color="primary">Sample Button</button>
          <button mat-raised-button color="primary" (click)="openDialog()">Open dialog</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card class="example-card background primary">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Card with primary background</mat-card-title>
          <!-- Need to use mixin here because mat-card-subtitle does not accept color attribute -->
          <mat-card-subtitle class="color primary contrast">Sample2</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/mapfre-logo-prim.png" alt="Mapfre logo">
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu lacus non enim gravida commodo sit amet at magna. Cras vitae sem dignissim, auctor nisl dignissim, condimentum urna. Fusce vehicula nulla ut magna viverra, ut tempor nisl gravida. Suspendisse vitae accumsan ex. Sed ultrices ante vel odio pellentesque, non tristique magna tempus. Praesent fringilla magna a pretium accumsan. 
          </p>
        </mat-card-content>
        <mat-card-actions class="center">
          <button mat-raised-button color="primary.contrast">Sample Button 1</button>
          <button mat-raised-button color="primary.contrast" (click)="openDialog()">Open dialog</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
