<h2 mat-dialog-title>Dialog sample</h2>
<mat-dialog-content>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis condimentum pretium. Nunc ut facilisis enim. Vivamus efficitur eleifend ante quis facilisis. 
    Donec malesuada, est in aliquam faucibus, lacus est dignissim elit, in auctor purus leo finibus arcu. Quisque finibus odio sapien, in maximus turpis ornare ac. 
    Quisque nec dolor neque. Nam vitae maximus neque. Nullam auctor turpis eget neque pulvinar lobortis a non libero. 
    Maecenas ut varius purus. Aenean placerat mi non mi euismod consequat. Cras tincidunt diam at malesuada aliquet. Nullam ac purus ut velit hendrerit vulputate. 
    Nulla a pharetra lectus. Nunc tristique sagittis aliquam.
  </p>
  <p>
    Quisque egestas nibh id purus tincidunt tempus. Suspendisse luctus placerat egestas. Integer tempus ipsum eget velit placerat porttitor. 
    Cras gravida suscipit nisl ut vehicula. Sed interdum, nulla sit amet finibus condimentum, lacus velit convallis velit, at ullamcorper eros odio a enim. 
    Aenean vel pellentesque augue, a tempus nisi. Sed nibh ex, facilisis ac eros at, imperdiet imperdiet lacus. 
    In sit amet justo eleifend, scelerisque quam porttitor, cursus augue.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="primary">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Exit</button>
</mat-dialog-actions>
