/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/*Font family will be replace by Angular Material theme*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    margin-top: 20px;
}