<div class="container">
    <div class="header">
        <h1>Mapfre Angular-Material theme</h1>
        <h4>
            Esta POC ilustra brevemente el uso del tema "Material-like" personalizado de Mapfre siguiendo las pautas de UX & Research. 
            Echa un vistazo al repo del tema: <a href="https://bitbucket.org/mar-examples/mapfre-material-theme/src/master/">mapfre-material-theme on Bitbucket</a>
        </h4>
    </div>
    <div class="row">
        <div class="col-8">
            <h3>Pasos para utilizar este tema en tu aplicación Angular Material:</h3>
            <ol>
                <li>
                    Configura el registry NPM del feed snapshots de Azure Artifacts: 
                    <pre><code>npm config set registry https://pkgs.dev.azure.com/devopsmapfre/devopsmapfre/_packaging/snapshots/npm/registry/</code></pre>
                </li>
                <li>
                    Añade el paquete <code>mapfre-material-theme</code> en las dependencias de tu proyecto:
                    <pre><code>npm install --save mapfre-material-theme</code></pre>
                </li>
                <li>
                    Aplica el tema añadiendo la ruta relativa (desde el directorio <code>node_modules</code>) a la lista de estilos del fichero angular.json:
                    <img src="assets/img/angular_style_config.png" class="img-fluid rounded">
                    La ruta sería <code>node_modules/mapfre-material-theme/dist/mapfre-mat-theme.css</code>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h3>Cosas a tener en cuenta</h3>
            <ol>
                <li>
                    Los componentes de las diferentes rutas de la aplicacion son de Angular Material y unicamente se han modificado pequeños detalles de estilo
                    (ver el fichero <code>[componentName].component.css</code> de cada componente para mas información).
                </li>
                <li>
                    El tema se compone de varias paletas de colores (primary, accent y warn) generadas mediante la siguiente herramienta de Google:
                    <a href="https://material.io/resources/color/">Material Color Tool</a>
                </li>
                <li>
                    En el tema se especifica tambien la tipografia corporativa de Mapfre que va a estar presente en toda la aplicación.
                </li>
                <li>
                    La navegación de la aplicación se ha auto-generado con el esquema <code>navigation</code> de Angular material.  
                    La barra de navegación lateral queda oculta para dispositivos moviles y es accesible mediante su correspondiente botón de menu 
                    (basta con reducir el tamaño de la pantalla para comprobarlo).
                </li>
                <li>
                    Para utilizar los colores definidos en el tema dentro de los componentes de Material hay que hacer uso de la propiedad 
                    <code>color=[primary/accent/warn][.contrast]</code>. En caso de que el componente no admita dicha propieda (p.e mat-cards, mat-grid-list) se ha incluido un mixin
                    para aplicar dichos colores mediante clases HTML de la siguiente forma: 
                    <pre>  <code>&lt;element class=&quot;[color, background] [primary, accent, warn]&quot;&gt;&lt;/element&gt;</code>  </pre>
                </li>
                <li>
                    Para organizar el contenido de la aplicacion se ha utilizado Bootstrap 4
                </li>
            </ol>
        </div>
    </div>
</div>
